<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Demo</title>
</head>
<body>
  <div>

 
  </div>  
  
<div class="outter">
  <div class="left">
    
      <img  src="../styles/NICES_logo.jpg" alt="NICES">
  
  </div>

  <div class="mid">
    <h2 style="color: darkblue; text-transform: initial;">
      National Information System for Climate and Environment Studies
    </h2>
    
   
  </div>
  <div class="right">                
    <img src="../styles/golden jublie.png" alt="JUBLIE">
    <img src="../styles/nrsc.png" alt="NRSC">
    <img src="../styles/isroLogo (1).png" alt="ISRO">
    <img src="../styles/ashok_logo.png" alt="Emblem">
  </div>
  </div> 
</body>
</html> 


